.infoWeather {
  border: 2px solid transparent;
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  background-color: rgb(99, 228, 185);
  padding: 0 15px;
}
.localizationButton,
.submitIcon {
  border: none;
  background-color: transparent;
}
.inputCity {
  width: 120px;
  border: none;
  background-color: rgba(136, 128, 128, 0.164);
  text-align: center;
}
