.tempNow {
  font-size: 50px;
  display: block;
  position: relative;
  line-height: 30px;
}
.weatherDescription {
  line-height: 20px;
  font-style: italic;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 400;
  color: #f65c78;
}
.todayInfo {
  text-align: right;
  margin-top: 30px;
  font-size: 20px;
  line-height: 2px;
}
.tempMaxMin {
  font-size: 12px;
}
.additionalInfo {
  font-size: 15px;
  text-align: center;
  height: 45px;
}
.menu,
.city {
  margin-top: 20px;
  display: block;
  text-align: center;
}
.cityName {
  font-size: 50px;
}
.country {
  display: block;
  text-align: center;
  font-size: 18px;
  line-height: 10px;
  color: #f65c78;
}
.openSourceLink {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.unit {
  font-size: 18px;
  font-weight: 400;
  position: relative;
  top: -28px;
}
.temperatureValue {
  font-size: 48px;
}
.weatherTemperature {
  line-height: 25px;
}
.tempMin {
  font-size: 20px;
  color: #f65c78;
}
.windSpeed,
.preciptation,
.miniIcons {
  font-size: 18px;
}
.windSpeed,
.preciptation {
  color: #f65c78;
}
