.infoWeather {
  border: 2px solid transparent;
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
  font-family: "Lobster", cursive;
  background-color: rgba(99, 228, 185, 0.418);
  padding: 0 15px;
  color: #142850;
}
.localizationButton,
.submitIcon {
  border: none;
  background-color: transparent;
}
.inputCity {
  width: 120px;
  border: none;
  background-color: rgba(136, 128, 128, 0.164);
  text-align: center;
}
